
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <i class="fas fa-cocktail"></i>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", "/", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Add a cocktail", "cocktails/new", class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>
<div class ="img-fluid text-center bg-primary" style="background-image: url('https://static-cms.carrefour.fr/sites/default/files/2019-06/apero-banner_page_edito_2880x720_2019.jpg?itok=Dq1Mh--J'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
  <h1 class="p-5 text-white pt"><br>Here the best cocktails<br><strong>we need<br></strong></h1>
</div>
<div class="container text-center">
  <br>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card shadow-sm p-3 mb-3 bg-white rounded border-0">
          <div class="card-description text-decoration-none text-warning">
            <img src="https://res.cloudinary.com/dow6rowa0/image/upload/v1597415957/alcohol-1853327_1920-1_bxltvg.jpg" class="img-fluid" alt="Cocktail">
            <h5 class="p-3"><%= link_to cocktail.name, cocktail_path(cocktail), class: "card-link" %></h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<footer class="page-footer font-small">

  <div class="footer-copyright text-center py-3">© 2020 Copyright TQ - <u>Mentions legales</u>
  </div>

</footer>
